.toastwrapper {
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    top: 1%;
    left: 39%;
    width: 20%;
    border: 1px solid #ececec;
    padding: 10px 12px;
    font-size: 20px;
    border-radius: 8px;
}

.close-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

.close-btn:hover {
    border-radius: 50%;
    background: white;
}

.toast-primary {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.toast-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.toast-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.toast-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}






/* .top-bottom {
    transition: transform .6s ease-in;
    animation: toast-in-top .7s;
}

 

 

@keyframes toast-in-top {
    from {
        transform: translateY(-100%);

    }

    to {
        transform: translateY(0);
    }
} */